{
  "plugins": ["@finect/eslint-plugin-finect"],
  "extends": "plugin:@finect/eslint-plugin-finect/recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
      "no-console": "off",
      "spaced-comment": "off",
      "arrow-body-style": "off",
      "no-undefined": "off",
      "max-len": ["error", { "code": 120 }],
      "no-trailing-spaces": "off",
      "no-param-reassign": ["error", { "props": false }],
      "arrow-parens": ["error", "as-needed"],
      "no-use-before-define": ["error", { "functions": false, "classes": false, "variables": false }] 
  },
  "env": {
    "mocha": true
  }
}