{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
      "semi":["error", "always"],
      "camelcase":"off",
      "comma-dangle":"off",
      "indent":["error", 2],
      "prefer-const": ["error", {
          "destructuring": "any",
          "ignoreReadBeforeAssign": false
      }],      
      "spaced-comment": "off",
      "no-undefined": "off",
      "max-len": ["error", { "code": 120 }],
      "no-trailing-spaces": "off",
      "arrow-parens": ["error", "as-needed"]
  },
  "env": {
    "mocha": true
  }
}